/* Modified from the original design of:
    https://bitsofco.de/github-contribution-graph-css-grid/ */

:root {
    --square-size: 12px;
    --square-gap: 3px;
    --week-width: calc(var(--square-size) + var(--square-gap));
    
    /* Colors! */
    --activity-0: #ebedf0;
    --activity-1: #c6e48b;
    --activity-2: #7bc96f;
    --activity-3: #196127;
}

.months { grid-area: months; }
.days { grid-area: days; }
.cells { grid-area: squares; }

.graph {
    display: inline-grid;
    grid-template-areas: "empty months"
                         "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;

    overflow-x: scroll;
    overflow-y: hidden;

    scrollbar-width: thin;
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                         calc(var(--week-width) * 4) /* Feb */
                         calc(var(--week-width) * 4) /* Mar */
                         calc(var(--week-width) * 5) /* Apr */
                         calc(var(--week-width) * 4) /* May */
                         calc(var(--week-width) * 4) /* Jun */
                         calc(var(--week-width) * 5) /* Jul */
                         calc(var(--week-width) * 4) /* Aug */
                         calc(var(--week-width) * 4) /* Sep */
                         calc(var(--week-width) * 5) /* Oct */
                         calc(var(--week-width) * 4) /* Nov */
                         calc(var(--week-width) * 5) /* Dec */;
  list-style-type: none;
}

.days,
.cells {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
  list-style-type: none;
}

.cells {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}


/* Other styling */

.graph {
  padding: 10px;
  border: 1px #e1e4e8 solid;
  margin: 0px;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.cells li {
  background-color: var(--activity-0);
}

.cells li[data-level="1"] {
  background-color: var(--activity-1);
}

.cells li[data-level="2"] {
  background-color: var(--activity-2);
}

.cells li[data-level="3"] {
  background-color: var(--activity-3);
}

.cells li[id="cell-active"] {
    filter: brightness(1.03);
}

.cells li[id="cell-inactive"] {
    filter: brightness(0.97);
}

.recent {
    display: grid;
}

.recent-table {
    border-spacing: 1rem;
    border-collapse: separate;
    table-layout: fixed;
}

.recent-td {
    text-align: left;
    width: 50%;
}

.recent-link {
    text-decoration: none;
}

#activity-none {
    display: none;
}

#activity-icon {
  height: 3rem;
  width: 9rem;
  border-radius: 15%;
  font-size: 1rem;

  text-decoration: none;
}
