html {
    background-color: #0c0b08;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.2em;
}

.cell {
    flex: 1;
    color: red;
    padding: 1em;
}

.result {
    flex: 20;
}

.inputDiv {
    border-left: 2px solid red;
}

.inputDiv, .contentDiv {
    margin: auto;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1em;
}

input {
    padding-left: 1em;
    background-color: #181510;
    border: 1px solid #252018;
    display: inline-block;
    color: #fff;
    outline: none;
    line-height: 4em;
    flex: 20;
    font-size: 1em;
}

#undoBtn {
    color: gray;
    border: none;
    font-size: 1.5em;
    outline: none;
    background-color: #0c0b08;
}

#mobile-user-message {
    display: none;
}

@media screen and (max-width: 900px) {
    #story-body {
        display: none;
    }

    #mobile-user-message {
        display: block;
        text-align: center;
    }
}
