#content {
   top: 30%;
   left: 25%;
   right: 25%;
   position: fixed;
   text-align: center;
}

#content img {
    float: left;
    border-radius: 50%;
    width: 40%;
}

#content div {
    padding-top: 10%;
    width: 35%;
    float: right;
    display: inline;
}

#cursor {
    display: inline;
    color: #eeeeee;
    animation: 500ms ease infinite alternate blink;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 800px) {
    #content img, #content div {
        width: 100%;
    }
}
/* Mobile end */
